@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #111827; /* Gray-900 - Removes white background */
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

/* Hide scrollbar but keep functionality for the Logs */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}